
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>MVC kamp tablo örneği-Kategory</h3>
<br/>
<table>
     <tr>
         <th>Kategory ID</th>
         <th>Kategory adı</th>
         <th>Açıklama</th>
         <th>Durum</th>
     </tr>
    <tr>
        <td>1</td>
        <td>eğitim</td>
        <td>açıklama yaptık</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
    </tr>

</table>